body {
  width: 350px;
  height: 250px;

  display: flex;
  justify-content: center;
}

/*#jokeElement {
  background-color: white;
  display: inner-flex;
  margin: auto;
  font-size: 22px;
  color: black;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px;
}*/
